PORT=3000
QISCUS_BASE_URL=https://multichannel.qiscus.com
QISCUS_APP_ID=xxitg-980tjis6em26fxr
QISCUS_SECRET_KEY=
QISCUS_ADMIN_EMAIL=
QISCUS_ADMIN_PASSWORD=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/qiscus_agent_allocation
MAX_CONCURRENT_DEFAULT=2
RECONCILIATION_INTERVAL_MS=20000
